<br>
<div class="row">
    <div class="col s1 m3"></div>
    <div class="card col s10 m6">
        <table class="stripped">
            <tr class="center-align">
                <td><p>Name</p></td>
                <td><p>{{slam.name}}</p></td>
            </tr>
            <tr class="center-align">
                <td><p>Mobile</p></td>
                <td><p>{{slam.mobile}}</p></td>
            </tr>
            <tr class="center-align">
                <td><p>email</p></td>
                <td><p>{{slam.email}}</p></td>
            </tr>
            <tr class="center-align">
                <td><p>Address</p></td>
                <td><p>{{slam.address}}</p></td>
            </tr>
            <tr class="center-align">
                <td><p>Nickname</p></td>
                <td><p>{{slam.nickname}}</p></td>
            </tr>
            <tr class="center-align">
                <td><p>Hobbies</p></td>
                <td><p>{{slam.hobbies}}</p></td>
            </tr>
            <tr class="center-align">
                <td><p>NativePlace</p></td>
                <td><p>{{slam.nativeplace}}</p></td>
            </tr>
            <tr class="center-align">
                <td><p>FavouritePlace</p></td>
                <td><p>{{slam.favouriteplace}}</p></td>
            </tr>
            <tr class="center-align">
                <td><p>what she/he likes in me</p></td>
                <td><p>{{slam.likesofme}}</p></td>
            </tr>
            <tr class="center-align">
                <td><p>what She/he dislikes in me</p></td>
                <td><p>{{slam.dislikesofme}}</p></td>
            </tr>
            <tr class="center-align">
                <td><p>Describeme</p></td>
                <td><p>{{slam.describeme}}</p></td>
            </tr>
            <tr class="center-align">
                <td><p>Birthday</p></td>
                <td><p>{{slam.birthday}}</p></td>
            </tr>
        </table>
    </div>
    <div class="col s1 m3"></div>
</div>
